:root{
    --primarycolor:#0e6253;
    --secondarycolor:#ffc107;
    --whitecolor:#fff;
    --blackcolor:#222;
    --softgreencolor:#d9f2ee;
    --darkGraycolor:#a7a7a7;
    --greycolor:#f5f5f5;
}
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: none;
        font-family: 'Open Sans',sans-serif;
    }
    body{
        width: 100%;
        height: auto;
        display: flex;

    }
    .sidebar {
       height: 100%;
       width: 250px;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       position: fixed;
       top: o;
       left: 0;
       padding: 2%;
       background-color: var(--primarycolor);
       color: var(--whitecolor);

    }
.sidder-bar-menu {
display: flex;
flex-direction: column;

}
.sidder-bar-menu a ,.sidder-bar-logout a {
 padding:5% 8%;
 margin: 0.5rem 0;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 gap: 1rem;
 text-decoration: none;
 color: var(--whitecolor);
}
.sidder-bar-menu a ion-icon, .sidder-bar-logout a ion-icon {
    font-size: 20px;
}
.sidder-bar-menu a:hover , .sidder-bar-logout a:hover{
background-color: rgb(166, 0, 255);
border-radius: 50px;

}
.main {
 width: 80%;
 height:100px ;
 min-height: 200vh;
 padding: 2%;
 background-color: var(--softgreencolor);
 margin-left: 250px;
 

 
}
.min-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-toggle {
    display: none;
}
.search {
 width: 60%;
 height: 40px;
 display: flex;
 justify-content: space-around;
 background-color: var(--whitecolor);
 border-radius: 20px;

}
.search>input {
 width: 80%;
 height: 100%;
 padding: 20px;
 border: none;
 border-radius: 20px;
 background-color: #07ff30;

}
.search-btn {
background-color: var(--secondarycolor);
color: var(--whitecolor);
border: none;
border-radius: 20px;
width: 20%;
cursor: pointer;
}
.search:hover {
    box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
}
.search-btn:hover {
    background-color: var(--primarycolor);
}
.profile {
display: flex;
align-items: center;
gap: 0.5rem;
}
.cart,.user {
display: flex;
justify-content: center;
align-items: center;
background-color: var(--whitecolor);
font-size: 20px;
color: var(--primarycolor);
text-decoration: none;
padding: 0 10px;
height: 40px;
border-radius: 50%;

}
.cart:hover,.user:hover {
    box-shadow: rgba(95, 98, 100, 0.2),0px 8px 24px;

}
.main-highlight {

    margin: 3% 0;
    padding: 2%;
    background-color: var(--secondarycolor);
    border-radius: 8px;
}
.main-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.main-title {
    font-size: 20px;
}
.main-arrow {
    font-size: 24px;
}
.back, .next {
    cursor: pointer;
}
.back:hover ,.next:hover {
    color: var(--primarycolor);
}
.highlight-wrapper {
    width: 100%;
    display: flex;
    padding: 1%;
    border-radius: 8px;
    gap: 1.5rem;
    overflow-x: hidden;
}
.highlight-card {
    display: flex;
    flex-direction: row;
    min-width: 200px;
    width: 80%;
    height: 100%;
    gap: 1rem;
    border-radius: 8px;
    padding: 1%;
    background-color: var(--darkGraycolor);
    cursor: pointer;
}
.highlight-image{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
}
.highlight-desc h4 {
    color: var(--primarycolor);
}
.highlight-desc p {
    color: var(--blackcolor);
    font-size: 13px;
}
.highlight-card:hover {
    background-color: var(--whitecolor);
    
}

.main-menus {
    min-height: 100%;
    background-color: var(--darkGraycolor);
    padding: 2%;
    border-radius: 8px;
}
.main-filter {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5rem;
    gap: 1rem
    ;
}
.back-menu, .next-menu {
    cursor: pointer;
}
.back-menu:hover ,.next-menu:hover {
    color:var(--primarycolor)
}
.filter-wrapper {
    display: flex;
    justify-content: flex-start;
    overflow-x: hidden;
    width: 100%;
    height: 100px;
    gap: 1.2rem;
}
.filter-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 80px;
    height: 100%;
    background-color: var(--whitecolor);
    color: var(--blackcolor);
    border-radius: 8px;
    border: 1px solid var(--softgreencolor);
    font-size: 14px;
    cursor: pointer;
.filter-icon {
    font-size: larger;
}
}
.filter-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60%;
    font-size: 30%;
    background-color: var(--softgreencolor);
    color: var(--primarycolor);
    border-radius: 8px;
}
.filter-card:hover {
    background-color: var(--primarycolor);
    color: var(--whitecolor);
}
.divider {
    margin: 1rem;
    height: 1px;
    width: 100%;
    background-color: var(--primarycolor);
    border: none;
}
.main-detail {
    margin: 1rem 0 1.5rem 0;
}
.detail-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    width: 100%;
    margin-top: 1rem;
    gap: 2%;
    border-radius: 8px;
}
.detail-card {
    min-height: 280px;
    height: 100%;
    background-color: var(--whitecolor);
    border-radius: 8px;
    margin: 1% 0;
    box-shadow: rgba(176,176,176.0.2) 0px 2px 8px 0px;
    cursor: pointer;

}
.detail-images {

    width: 48%;
    max-height: 360px;
    margin: 0px 1%;
    display: grid;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    min-width:320px;
}
.detail-desc {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3%;
    width: 100%;
}
.detail-name h4 {
    font-size: 24px;
    color: blue;

}
.detail-name :hover{
    background-color: #d9f2ee;
}